.layout {
  padding: 50px 0;
  cursor: pointer;

  &:hover {
    border: 3px dashed black;
  }

  .title {
    position: relative;
    padding: 15px 0 40px;

    text-align: center;
    font-size: 0.688rem;
    font-weight: 700;

    &::after {
      content: "";
      position: absolute;
      left: 3.438rem;
      top: 0;

      width: calc(100% - 6.875rem);
      height: 1px;
      background-color: #0c0c0c;
    }
  }

  .content {
    text-align: center;
    margin-bottom: 2.813rem;

    font-size: 0.813rem;
    font-weight: 300;
    line-height: 1.5rem;

    white-space: pre-wrap;
  }

  .info {
    text-align: center;
    .row {
      display: flex;
      justify-content: center;
      align-items: baseline;

      height: 1.5rem;

      font-size: 0.813rem;
      line-height: 1.5rem;
      font-weight: 400;
      white-space: pre-wrap;

      .small {
        font-size: 0.625rem;
        font-weight: 300;
      }

      .bullet {
        position: relative;
        height: 1.5rem;
        width: 0.813rem;

        &::after {
          position: absolute;
          content: ".";
          left: 0;
          top: 0.15rem;

          width: 100%;
        }
      }

      .hero {
        margin-left: 10px;
      }
    }
  }
}
