.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px !important;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 32px;
  width: 140px;

  background: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.layout {
  min-height: 100vh !important;
}
